@import '../../styles/variables.scss';

.wrapper {
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    gap: 3rem;
    .title {
        width: 100%;
        padding-left: 2rem;
        font-size: 4rem;
        font-weight: 200;
        @media screen and (max-width: 400px){
            font-size: 3rem;
        }
    }
    .section1 {
        width: 100%;
        @include flex(center, center); 
        gap: 5%;
        @media screen and (max-width: 1000px){
            flex-wrap: wrap;
        }
    }
    .section2 {
        width: 100%;
        @include flex(center, start); 
        section {
            width: 50%;
            @include flex(start, center);
            flex-direction: column;
            .subtitle {
                width: 90%;
                background-color: $darker;
                @include flex(space-between, center);
                padding: 1.75rem 1rem;
            }
            div {
                width: 90%;
                @include flex(start, center);
                flex-direction: column;
                .item { 
                    width: 100%;
                    @include flex(space-between, center);
                    padding: 1.75rem 1rem;
                    button {
                        padding: .25rem 1rem;
                        color: $darker;
                        font-size: 1rem;
                        border-radius: 10px;
                        background-color: #fff;
                        border: 2px solid $darker;
                    }
                }
                h2 {
                    font-size: 1.5rem;
                    margin: 3rem auto;
                }
            }
        }
        @media screen and (max-width: 1000px){
            flex-direction: column;
            section {
                width: 100%;
                .subtitle {
                    width: 95%;
                }
                div {
                    width: 95%;
                }
            }
        }
    }
}