@import '../../styles/variables.scss';

.wrapper {
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    gap: 3rem;
    .title {
        width: 100%;
        padding-left: 2rem;
        font-size: 4rem;
        font-weight: 200;
    }
    .section1 {
        width: 100%;
        @include flex(center, center); 
        gap: 5%;
    }
    .section2 {
        width: 100%;
        @include flex(center, center); 
        section {
            width: 50%;
            @include flex(start, center);
            flex-direction: column;
            p {
                width: 90%;
                background-color: $darker;
                @include flex(space-between, center);
                padding: 1.75rem 1rem;
            }
        }
    }
}