@import '../../styles/variables.scss';

.nav {
    margin: 0 auto;
    width: 95%;
    @include flex(start, center);
    flex-direction: column;
    div, hr {
        width: 100%;
    }
    div {
        @include flex(start, center);
        a {
            padding: 0 2rem 1rem 2rem;
        }
    }
    hr {
        margin: 0;
    }
}

.wrapper {
    width: 100%;
    @include flex(center, center);
    form {
        margin-top: 3rem;
        width: 95%;
        @include flex(center, center);
        flex-direction: column;
        gap: 2rem;

        .inputs {
            width: 80%;
            @include flex(center, center);
            gap: 3rem;

            div {
                width: 100%;
                @include flex(center, start);
                flex-direction: column;
                gap: .5rem;

                input,
                select {
                    background-color: $darker;
                    border: 0;
                    padding: .5rem 1rem;
        
                    width: 100%;
                }

                select {
                    appearance: none;
                }
            }
        }

        .textareaGroup {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;

            textarea {
                width: 80%;
                background-color: $darker;
                border: 0;
                padding: .5rem 1rem;
    
            }
        }
        button {
            padding: .5rem 2rem;
            border-radius: 10px;
            border: 2px solid $darker;
            background-color: #005eff;
        }
    }
}