@import '../../styles/variables.scss';

.wrapper {
    margin: 0 auto;
    width: 95%;
    @include flex(start, center);
    flex-direction: column;
    div, hr {
        width: 100%;
    }
    div {
        @include flex(start, center);
        a {
            padding: 0 2rem 1rem 2rem;
        }
    }
    hr {
        margin: 0;
    }
}